@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.heading-font {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.home-nav-bar {
    z-index: 1000;
    position: relative;
    color: white;
    margin-top: 15vh
}

.home-logo {
    width: 60%;
    margin-top: 4rem;
}

@media screen and (max-width: 768px) {
    .home-logo {
        width: 70%;
    }

    .home-font {
        font-size: 2em !important;
    }
}

.nav-link {
    text-transform: uppercase;
}

nav {
    background-color: black;
}

.nav-logo {
    height: 40px;
    margin-top: 10px;
}

.home-font {
    font-size: 3em;
}

.home-link {
    text-decoration: none;
}

.link-light {
    transition: 0.5s;
}

.link-light:hover {
    color: #cecece;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style: none;
    padding-left: 0;
}


.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/* .cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
} */

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/TFC-Still.png);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/New\ UTTCI\ Still.png);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/New\ BASAB\ Still.jpg);
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/Octopus-Still.jpeg);
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/HBT-Still.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/New\ Home\ Still.png);
    animation-delay: 30s;
}


@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        transform: scale(1.1);
    }

    25% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

/* --------------------------------------- About Page */

.about-text {
    text-align: left;
}

.about-picture {
    max-width: 60%;
    max-height: auto;
}

.about-heading {
    font-family: 'Lato', sans-serif;
}

.fig-picture {
    max-width: 80%;
    max-height: auto;
}

.blockquote {
    font-size: inherit;
    font-style: italic;
}

.social-link {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition: 0.5s;
}

.social-link:hover {
    color: #6e6e6e;
}




/* --------------------------------------- Narrative Page */

#gallery img {
    height: 35vw;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    #gallery img {
        height: 18vw;
    }
}

.card-img-overlay {
    top: auto;
}

.card {
    border: none;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(128, 128, 128, .12), 0 4px 8px rgba(128, 128, 128, .06);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .carousel-item img {
        width: 100% !important;
    }
}

.uttci-image {
    object-position: center bottom;
}

.hbt-image {
    object-position: 0px -25vh;
}


@media screen and (min-width: 768px) {
    .home-image {
        object-position: 0px -100px;
    }
}

@media screen and (max-width: 992px) {
    .home-image {
        object-position: center;
    }
}

@media screen and (min-width: 992px) {
    .forgotten-c-image {
        object-position: 0px -175px;
    }
}

@media screen and (max-width: 992px) {
    .forgotten-c-image {
        object-position: center;
    }
}


@media screen and (min-width: 768px) {
    .csi-image {
        object-position: 0px -80px;
    }
}

@media screen and (max-width: 768px) {
    .csi-image {
        object-position: center;
    }
}


@media screen and (min-width: 768px) {
    .not-dying-image {
        object-position: 0px -50px;
    }
}

@media screen and (max-width: 768px) {
    .not-dying-image {
        object-position: 0px -10px;
    }
}


/* --------------------------------------- Screenings Section */

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}